@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>A proof of concept for using the <a href="https://www.database-encryption.com/">DBDefence</a> software to encrypt databases and access them.</h3>